{% extends 'layout.html' %} {% block content %}
<div class="container center-align">
    <h5>Employees Details</h5>


</div>
<div class="container center-align">
    <table class="striped">
        <tr>
            <th>
                ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Gender
            </th>
            <th>
                Employee Job
            </th>
            <th>
                Date Of Birth
            </th>
            <th>
                Details
            </th>


        </tr>

        {% for employee in employee_details %}
        <tr>

            <td>
                {{employee.id}}
            </td>
            <td>
                {{employee.first_name}}
            </td>
            <td>
                {{employee.last_name}}
            </td>
            <td>
                {{employee.email_id}}
            </td>
            <td>
                {{employee.phone_number}}
            </td>
            <td>
                {{employee.gender}}
            </td>
            <td>

                {% for job in employee.emp_job.all %} {{job.name}} {% endfor %}


            </td>
            <td>
                {{employee.date_of_birth}}
            </td>
            <td>
                <!-- <a href="{% url 'details' employee.id %}">Details</a> -->
                <a class="waves-effect waves-light btn-small" href="details/{{employee.id}}">Details</a>
            </td>

        </tr>

        {% endfor %}

    </table>
</div>

{% endblock %}