<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>EDBMS</title>
</head>

<body>

    <header class="container center-align">

        <h4>Employees Database Management System</h4>


    </header>
    <hr> {% block content %} {% endblock %}



    <hr>
    <footer>
        <p class="center-align">Create by Farman Ullah <span>@2020</span></p>
    </footer>
</body>

</html>