<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>EDBMS</title>
</head>

<body>

    <header>

        <nav>
            <div class="nav-wrapper teal">
                <a href="#" class="brand-logo left">EDBMS</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Employees Details</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <header class="nav-wrapper center-align">

        <h5>Employees Database Management System</h5>

    </header>

    {% block content %} {% endblock %}

    <hr>
    <footer>
        <div>
            <p class="center-align">Create by Farman Ullah copyright@2020</p>
        </div>
    </footer>
</body>

</html>